.card {
  background-color: rgb(72, 72, 136);
  border: 1px solid lightblue;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card h2 {
  color: white;
  text-shadow: 0 0 8px #ff0000;
}
.card p {
  color: whitesmoke;
}
